<div class="infobox">
  <p>Droppit will provide a URL for you to share with others so they can upload files to your Dropbox folder for you.</p>

  <p>We've created the following test Dropbox account for you to use for your convenience:
    <ul>
      <li>Email: DroppitTest@gmail.com</li>
      <li>Password: T3st4321</li>
    </ul>
  </p>
</div>
