// Place all the styles related to the inboxes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 *= require font-awesome
 */
body>header {
  background-image: image-url("water-drop-small.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

body {
  background-image: none;
}


$our_blue: #b5deff;

p {
  margin: 20px;
  text-align: center;
}

.box__dragndrop {
  display: none;
}
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box.has-advanced-upload {
  .box__file, .box__button {
    display: none;
  }
}

.box.has-advanced-upload {
  padding-top: 30px;
  background-color: our_blue;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  outline: 2px dashed rgba(0, 0, 0, 0.6);
  outline-offset: -15px;
  height: 250px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.box.has-advanced-upload .box__dragndrop {
  display: inline;
}

.box.has-advanced-upload {
  position: relative;
}

.box__input {
  label {
    position: absolute;
    color: rgba(0, 0, 0, 0.6);
    left: 27%;
    bottom: 35px;
    width: 65%;

    strong:hover {
      font-size: 1.1em;
      color: white;
    }
  }
}

.box.is-dragover {
  background-color: grey;
}

.fa {
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  right: 45%;
  top: 40%;
}

.box.is-uploading .box__input {
  visibility: none;
}
.box.is-uploading .box__uploading {
  display: block;
}

.box.is-uploading .box__input,
.box.is-success .box__input,
.box.is-error .box__input
{
    visibility: hidden;
}

.box.is-uploading .box__uploading,
.box.is-success .box__success,
.box.is-error .box__error
{
    display: block;
    position: absolute;
    top: 40px;
    left: 40%;

    -webkit-transform: translateY( -50% );
    transform: translateY( -50% );
}

table {
  border-spacing: 0;

  thead {

    tr {
      th {
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        padding: 5px 20px;
        margin: 0;
      }

    }
  }

  tbody {
    tr {

      td {
        border: none;
        margin: 0;
        padding: 10px;
      }

    }
  }
}

tbody > tr:hover {
  background-color: $our_blue;
}

div#inbox-show {
  padding: 15px;
  font-size: 16px;

  tr:hover {
    background-color: inherit;
  }

  th {
    text-align: left;
    font-weight: 200;
    padding: 5px 10px;
  }

  th:first-child {
    text-align: right;
    font-weight: 600;
  }
}

.inbox_btn {
  -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
  background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
  background-color:#79bbff;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #84bbf3;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #528ecc;
}
.inbox_btn:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
  background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
  background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
  background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
  background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
  background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
  background-color:#378de5;
}
.inbox_btn:active {
  position:relative;
  top:1px;
}