// Place all the styles related to the inboxes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 *= require font-awesome
 */

$our_blue: #b5deff;

p {
  margin: 20px;
  text-align: center;
}

.box__dragndrop {
  display: none;
}
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box.has-advanced-upload {
  .box__file, .box__button {
    display: none;
  }
}

.box.has-advanced-upload {
  padding-top: 30px;
  background-color: our_blue;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  outline: 2px dashed rgba(0, 0, 0, 0.6);
  outline-offset: -15px;
  height: 250px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.box.has-advanced-upload .box__dragndrop {
  display: inline;
}

.box.has-advanced-upload {
  position: relative;
}

.box__input {
  label {
    position: absolute;
    color: rgba(0, 0, 0, 0.6);
    left: 27%;
    bottom: 35px;
    width: 65%;
    
    strong:hover {
      font-size: 1.1em;
      color: white;
    }
  }
}

.box.is-dragover {
  background-color: grey;
}

.fa {
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  right: 45%;
  top: 40%;
}

.box.is-uploading .box__input {
  visibility: none;
}
.box.is-uploading .box__uploading {
  display: block;
}

.box.is-uploading .box__input,
.box.is-success .box__input,
.box.is-error .box__input
{
    visibility: hidden;
}

.box.is-uploading .box__uploading,
.box.is-success .box__success,
.box.is-error .box__error
{
    display: block;
    position: absolute;
    top: 40px;
    left: 40%;

    -webkit-transform: translateY( -50% );
    transform: translateY( -50% );
}

table {
  border-spacing: 0;
  
  thead {
    
    tr {
      th {
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        padding: 5px 20px;
        margin: 0;
      }
      
    }
  }

  tbody {
    tr {
      
      td {
        border: none;
        margin: 0;
        padding: 10px;
      }
      
    }
  }
}

tbody > tr:hover {
  background-color: $our_blue;
}

